<% layout("/layouts/boilerplate") %>

    <body>
        <div class="container-card">
            <div class="filters-wrapper  bg-white py-2">
                <div class="container">
                    <div class="filters d-flex align-items-center gap-4 overflow-auto">

                        <!-- <a href="/listings"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="fa-solid fa-border-all fs-5"></i>
                            <p class="mb-0 small">ALL</p>
                        </a> -->
                        <a href="/listings" class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-grid fs-4 sm-fs-4"></i>
                            <p class="mb-0 small">All</p>
                        </a>

                        <a href="/listings?category=trending"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-fire fs-5 sm-fs-4"></i>
                            <p class="mb-0 small">Trending</p>
                        </a>

                        <a href="/listings?category=rooms"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-door-open fs-5 "></i>
                            <p class="mb-0 small">Rooms</p>
                        </a>

                        <a href="/listings?category=cities"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-buildings lg-fs-5"></i>
                            <p class="mb-0 small">Iconic Cities</p>
                        </a>

                        <a href="/listings?category=mountains"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-triangle fs-5"></i>
                            <p class="mb-0 small">Mountains</p>
                        </a>

                        <a href="/listings?category=castles"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-bank fs-5"></i>
                            <p class="mb-0 small">Castles</p>
                        </a>

                        <a href="/listings?category=pools"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-water fs-5"></i>
                            <p class="mb-0 small">Amazing Pools</p>
                        </a>

                        <a href="/listings?category=camping"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-tree fs-5"></i>
                            <p class="mb-0 small">Camping</p>
                        </a>

                        <a href="/listings?category=farms"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-flower1 fs-5"></i>
                            <p class="mb-0 small">Farms</p>
                        </a>

                        <a href="/listings?category=arctic"
                            class="filter-item text-center text-decoration-none text-dark">
                            <i class="bi bi-snow fs-5"></i>
                            <p class="mb-0 small">Arctic</p>
                        </a>

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">

                    <% if (!allListings.length) { %>
                        <p>Sorry, No listings Available right now</p>
                        <% } %>

                            <% for(let listing of allListings) { %>

                                <div class="col">
                                    <a class="showlink text-decoration-none text-dark"
                                        href="listings/<%= listing._id %>">
                                        <div class="card listing-card border-0 shadow-sm">

                                            <div class="image-wrapper">
                                                <img src="<%= listing.image.url %>" class="card-img-top listing-img"
                                                    alt="<%= listing.title %>">
                                            </div>

                                            <div class="card-body p-2">
                                                <h6 class="card-title mb-1 fw-semibold">
                                                    <%= listing.title %>
                                                </h6>

                                                <p class="card-text text-muted mb-0 small">
                                                    <span class="fw-bold text-dark">
                                                        &#8377; <%= listing.price.toLocaleString("en-IN") %>
                                                    </span> / night
                                                </p>

                                                <p class="card-text text-muted mb-0 small">
                                                    📍 <%= listing.location %>, <%= listing.country %>
                                                </p>
                                            </div>

                                        </div>
                                    </a>
                                </div>

                                <% } %>

                </div>
            </div>
        </div>
    </body>